body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color:rgb(212, 181, 3);
    padding: 10px;
} 

.about {
    background-color: rgb(15, 15, 12.5,0.8);
    border-radius: 80px 80px 80px 80px;

}
#jogador {
    color: rgb(199, 179, 0);
}
span {
    color: salmon;
}
p {
    padding: 30px;
    color: rgb(199, 179, 0);
    font-weight: bold;
    font-size: 20px;
}

p img {
    float: right;
}
